div {
    background-color: white;
    border-color: black;
    display: flex;
    justify-content: space-between;
    border-style: solid;
}

.container {
    display: flex;
    flex-direction: column;
}

.color {
    background-color: pink;
}
